name: Literature and regression tests
on:
  pull_request:
    branches:
      - 'main'
    paths:
      - 'src/**'
      - 'tests/**'
      - 'requirements*.txt'
  push:
    branches:
      - 'main'
    paths:
      - 'src/**'
      - 'tests/**'
      - 'requirements*.txt'
jobs:
  regression_tests:
    # Avoid to run the job twice, once on PR merge and once on the fact that this
    # merge-event is also a push to the master branch
    if: (github.event.pull_request.merged == false || github.event_name == 'push') && github.event.pull_request.draft == false
    name: Run regression tests
    runs-on: ubuntu-22.04
    steps:
    - name: Checkout repository
      uses: actions/checkout@v3
      with:
        fetch-depth: 0
    - name: Setup Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'
        cache: 'pip'
        cache-dependency-path: 'requirements*.txt'
    - name: Install Python packages
      run: python3 -m pip install -r requirements_dev.txt -r requirements.txt
    - name: Build plaquette
      run: python3 -m build --wheel
    - name: Install plaquette
      run: pip install dist/plaquette*.whl
    - name: Run regression tests
      run: python -m pytest -n auto -m slow
